.section {
  margin: 0 0 1rem;

  padding: 1rem;
  border: 1px solid var(--color-slate-300);
  border-radius: 0.2rem;

  display: flex;
  flex-direction: column;
  width: 100%;

  & > p {
    margin: 0.25rem 0 0;
    line-height: 1.5;
  }
}

.sectionTitle {
  display: flex;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: var(--color-slate-700);
  width: fit-content;
  font-family: var(--font-patua-one), var(--font-noto-sans-jp-bold);

  &::before {
    display: flex;
    margin-right: 0.5rem;
    content: ">";
    color: var(--color-slate-500);
  }
}

.sectionTitle.topPage {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.subsectionTitle {
  display: flex;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-slate-700);
  width: fit-content;
  font-family: var(--font-patua-one), var(--font-noto-sans-jp-bold);

  &::before {
    display: flex;
    margin-right: 0.5rem;
    content: "-";
    color: var(--color-slate-500);
  }
}

.paragraph {
  margin: 0.5rem 0;
  line-height: 1.5;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: "- ";
  margin: 0.5rem 0;
  padding-left: 1rem;
  gap: 0.5rem;
}

.codeBlock {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--color-slate-900);
  color: var(--color-slate-100);
  border-radius: 0.2rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
}

.quote {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--color-slate-300);
  border-left: 0.25rem solid var(--color-slate-500);
  border-radius: 0.2rem;
  font-style: italic;
  line-height: 1.5;
}