@import "tailwindcss";

@theme {
  --font-code: var(--font-source-code-pro);
  --font-normal: var(--font-kaisei-opti);
  --font-title: var(--font-unifraktur-maguntia);
  --font-heading: var(--font-patua-one), var(--font-kaisei-opti);
}
